<!--The content below is only a placeholder and can be replaced.-->

<h1>
  {{title}}
</h1>

<ul>
  <li>
    <h2><a href="#">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a href="letters">letters</a></h2>
  </li>
  <li>
    <h2><a href="cheese">cheese</a></h2>
  </li>
  <li>
    <h2><a href="allHeroes">All My Heroes</a></h2>
  </li>
  <li>
    <h2><a href="hero">Hero</a></h2>
  </li>
  <li>
    <h2><a href="#">this redirects to...</a></h2>
  </li>
</ul>

<app-messages></app-messages>

<router-outlet></router-outlet>
